includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
        - node_modules
        - wordpress
    bootstrapFiles:
        - ems-plugin.php
